name: pull-request

on:
  pull_request:
    types: [opened, reopened, synchronize]

concurrency: 
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: 3.x
        channel: stable

    - name: Get dependencies
      run: flutter pub get

    - name: Run formatter
      run: flutter format --set-exit-if-changed .
    
    - name: Run analyzer
      run: flutter analyze .

    - name: Run unit tests
      run: flutter test